img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 50%;
    margin-top: 0.1in;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  div{
      background-color: white;
      text-align: center;
  width: 100%;
  font-size: 24;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  } 
  a{
      color: black;
  }
  body{
      background-color: rgb(93, 21, 21);;
     
  }
  p1,p2{
      font-size: 16;
  font-family: Arial, Helvetica, sans-serif;
  }
    
  
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid rgb(93, 21, 21);;
      margin-top: 6px;
      margin-bottom: 16px;
     
    }
  
    .container {
      border-radius: 5px;
      background-color: rgb(93, 21, 21);;
      padding: 10px;
    }
  
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  .column,.container,.row{
      background-color: rgb(93, 21, 21);
  }
  h1{
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2,h3{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
}